<header class="usa-header usa-header-{{ header.type | default: 'extended' }}" role="banner">

  {% include banner.html %}

  <div class="usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/" title="Home">
          {{ site.title }}
        </a>
      </em>
    </div>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/{{ site.uswds_path }}/img/close.svg" alt="close">
      </button>
    </div>
  </nav>

</header>

<div class="usa-overlay"></div>
